body {
    background-color: var(--background) !important;
    font-family: "Poppins", sans-serif;
}

/* CARD */
.profile-card {
    background: linear-gradient(to left, rgba(197, 192, 187, 0.9), rgba(245, 240, 232, 0.8)); 
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
     top:50%;
     left:50%;
    transform: translate(-50%,-50%);
     position: absolute;
}
/* PROFILE IMAGE */
.profile-img-wrapper {
    position: relative;
    width: 260px;
    height: 260px;
}
.profile-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid var(--white-text);
    box-shadow: 0 4px 12px rgba(var(--primary-rgb),0.4);
    transition: 0.3s;
}
.profile-img-wrapper:hover img {
    transform: scale(1.05);
}
.change-photo-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--primary);
    color: var(--white-text);
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}
.change-photo-btn:hover{
    background: var(--primary-dark);
}
#upload-img { display: none; }

/* FORM */
label { font-weight: 600; }
input, select {
    border-radius: 8px !important;
    border: 1px solid var(--backround) !important;
}
input:focus, select:focus {
    border-color: var(--primary) !important;
    box-shadow: 0 0 5px rgba(var(--primary-rgb),0.5) !important;
}
input[readonly] {
    background-color: var(--white-text) !important;
}

/* BUTTONS */
#save-btn {
    background: var(--primary) !important;
    color: var(--white-text) !important;
    border-radius: 8px;
}
#logout-btn{
    background: #d9534f !important;
    color: var(--white-text) !important;
    border-radius: 8px;
}
#save-btn:hover {
    background: var(--primary-dark) !important;
}
#logout-btn:hover,#delete-account-btn:hover {
    background: #c9302c !important;
}
/* DELETE BUTTON */
#delete-account-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #d9534f !important;
    color: var(--white-text) !important;
    border-radius: 8px;
    z-index: 10;
}
/* PROGRESS BAR */
.progress {
    height: 10px;
    border-radius: 50px;
}
.progress-bar {
    background: var(--primary) !important;
}
