.example-cv-section {
  background: #fff;
  padding: 70px 0;
  background-color: var(--light);
}

.section-title {
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--g2);
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.section-subtitle {
  text-align: center;
  color: var(--muted);
  margin-bottom: 40px;
}

.cv-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 250px));
  justify-content: center;
  gap: 30px;
}

.cv-card {
  background: #fff;
  /* padding: 22px; */
  border-radius: 18px;
  /* border: 1px solid var(--primary-light); */
  font-family: "Poppins", sans-serif;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cv-card:hover {
  border-color: var(--primary-light);
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.10);
}

.cv-thumb {
  height: 400px;
  max-width: 350px;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

.cv-thumb img {
  width: 100%;
  height: 100%;
  /* border: 1px solid var(--secondary); */
  /* object-fit: contain; */
  object-position: center;
}

.cv-thumb::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}

.cv-card h5 {
  font-weight: 700;
  color: var(--g2);
  font-size: 20px;
  margin-bottom: 15px;
  padding: 0 15px;
}

.cv-card p {
  color: var(--muted);
  font-size: 14px;
  padding: 0 15px;
  margin-bottom: 15px;
}

.btn-box {
  gap: 2px;
  overflow: hidden;

}

.btn-download,
.btn-preview {
  background: var(--g2);
  color: #fff;
  width: 100%;
  border-radius: 12px;
  padding: 10px 20px;
  font-weight: 600;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-preview {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 0;
  background-color: var(--g2);
}

.btn-download:hover,
.btn-preview:hover {
  background: var(--g1);
  color: #fff;
  /* transform: translateY(2px); */
}

/* arrows */
.cv-carousel {
  position: relative;
}

.carousel-controls {
  position: absolute;
  top: 50%;
  left: -30px;
  width: 105%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.carousel-btn {
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 30px;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}