
.profile-page-wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 100vh;
  background: var(--back-gradient) !important;
}
.profile-page-container{
  background-color: var(--white-color);
}
.profile-img-container {
  width: 160px;
  height: 160px;
  position: relative;
  margin: 0 auto;
}

.profile-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--white-color);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.profile-img-container:hover img {
  transform: scale(1.02);
}

.btn-change-photo {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: var(--g2);
  color: var(--white-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(26, 158, 143, 0.3);
  transition: all 0.3s ease;
}

.btn-change-photo:hover {
  background-color: var(--primary-dark);
  transform: scale(1.1);
  color: var(--white-color);
}

.form-control-custom {
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  border: 1px solid var(--border);
  background-color: var(--white-color);
  color: var(--text-color);
}

.form-control-custom:focus {
  border-color: var(--g2);
  box-shadow: 0 0 0 0.25rem rgba(26, 158, 143, 0.15);
}

.form-control-custom:read-only {
  background-color: var(--background);
  color: var(--muted);
  cursor: not-allowed;
}

.progress-custom {
  height: 10px;
  border-radius: 50px;
  background-color: rgba(26, 158, 143, 0.1);
}

.progress-bar-custom {
  background-color: var(--g2);
  border-radius: 50px;
}
.delete-account-btn{
  border: 1px solid #dc3545;
} 
/* input file */
.profile-page-wrapper .file-input {
  display: none;
}

.profile-page-wrapper .file-upload {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-page-wrapper .file-btn {
  border: 1px solid var(--primary-alt);
  color: var(--text-white-color);
  padding: 10px 20px;
  border-radius: 12px;
  cursor: pointer;
  background: transparent;
  transition: 0.3s ease;
  font-weight: 500;
  background-color: var(--g2) !important;
}

.profile-page-wrapper .file-btn:hover {
  background-color: var(--primary-dark ) !important;
  /* color: var(--white-color); */
}

.profile-page-wrapper .file-name {
  color: var(--muted);
  font-size: 14px;
}